@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


 /*--------------------------------------------Navbar*/

 .navigation-bar {
    height: 60px;
    background-color: #085F74;
 }

 .nav-link {
     color: whitesmoke;
     font-family: "Righteous", sans-serif;
 }

 .nav-item {
    padding-top: 10px;
 }

/*--------------------------------------------Body*/
.main-zone {
    background-image:url(../images/sssssnake_background.jpg);
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.logo-container {
    overflow: auto;
    height: 140px;
}

.logo {
    width: 600px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.game-zone-container {
overflow: auto;
height: 600px;
}

.game-zone {
    width:450px;
    height:480px;
    display: flexbox;
    color: aliceblue;
    margin: auto;
    
}

/*--------------------------------------------Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #085F74;
    color: whitesmoke;
    font-family: "Righteous", sans-serif;
    text-align: center;
}

/*--------------------------------------------Contact*/
/*---------------------------------Code adapted after Oliver Cadman*/
.contact-form-container {
    margin-top: 70px;
}

.contact-form-wrapper {
    margin-top: 10px;
    padding: 20px;
    background-color: #448087;

  }
  
  .form-group {
    margin-bottom: 20px;
    font-family: "Righteous", sans-serif;
    letter-spacing: 1px;
  }
  
  .form-group input {
    font-family: "Righteous", sans-serif;
  }

  .form-group textarea {
    font-family: "Righteous", sans-serif;
  }

  .form-group label {
    font-family: "Righteous", sans-serif;
  }
  
  button[type="submit"] {
    font-family: "Righteous", sans-serif;
    background-color: #447C58;
    border: none;
    color: #D3FADE;
  }
  
  legend {
    border-bottom: 4px solid #447C58;
    font-family: "Righteous", sans-serif;
    color: whitesmoke;
    font-weight: 500;
  }
  
  .error-message {
    font-family: 'Righteous', sans-serif;
    font-weight: 300;
    padding: 0px;
    transition: all 1s ease;
  }

/*--------------------------------------------Game Box*/
/*---------------------------------Code adapted after Abhishek Ahlawat */
  .game-box {
    text-align:center;   
    color: whitesmoke;
    
}
  .game-info {
    text-align:center; 
    font-family:'Righteous', sans-serif;
    line-height:24px;
}


/*--------------------------------------------Help Modal*/
.help-button {
  background-color:#085F74!important;
  font-family:'Righteous', sans-serif!important;
  border: none;
  margin: 6px;
  font-family: 'Righteous';
  color: whitesmoke;
}

.modal-dialog {
  height: 500px;
}

.modal-content {
  background-image:url(../images/contact-form-background.jpg);
  height: 500px;
}

.modal-body {
  font-family: 'Righteous';
  color: whitesmoke;
}

.modal-footer {
  border: none;
}